<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Logo pequeño en el header -->
      <ion-img src="assets/icon/PickMeUpLogoP-removebg-preview.png" class="app-logo"></ion-img>
    </ion-buttons>
    <ion-title class="app-title">PickMeUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Barra de búsqueda superior estilizada -->
  <div class="search-container">
    <ion-item lines="none" class="search-item">
      <ion-input class="search-input" placeholder="¿A dónde vas?" [(ngModel)]="direccion"></ion-input>
      <ion-button fill="clear" class="search-button" (click)="encontrarAuto()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <!-- Contenido del mapa -->
  <div class="map-container" [ngClass]="{'loaded': mapLoaded}">
    
    <google-map
      [center]="center"
      [zoom]="zoom"
      style="height: 100%; width: 100%;">
    </google-map>
  </div>

  <!-- Botón de "Seleccionar Auto" con ícono -->
  <div class="select-auto-button">
    <ion-button expand="block" color="primary" class="styled-button" (click)="seleccionarAuto()">
      Seleccionar Auto
    </ion-button>
    <ion-icon name="car-outline" class="car-icon"></ion-icon>
  </div>

  <!-- Barra de navegación inferior -->
  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button>
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Cuenta</ion-label>
          </ion-tab-button>
          <ion-tab-button>
            <ion-icon name="car-outline"></ion-icon>
            <ion-label>Solicitar</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
</ion-content>
